.alert {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    margin: 20px;
}

.profile-container {
    text-align: center;
}

.profile-image {
    width: 150px; /* Adjust the size as needed */
    height: 150px; /* Adjust the size as needed */
    border-radius: 50%;
    object-fit: cover;
}
